// colors
$accentColor = #f39c12
$textColor = #85929e
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #f9e79f
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$shadowColor = #85929e
$backgroundColorGrey = #e5e7e9
$metaBackgroundColor = #f8c471
$dateBackgroundColor = #85c1e9

// shapes
$containerBorderRad = 1em
$containerPadding = 1em
$containerMargin = 1em